* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.main {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  outline: 2px solid black;
}

.files-display {
  padding: 10px;
  outline: 2px solid black;
}

.menu-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.route-section {
  border-bottom: 1px solid grey;
}

.files-header {
  display: flex;
  gap: 20px;
}

.files-header p,
.file p {
  width: 100px;
}

.files-header .name {
  width: 500px;
}

.files-body .file {
  display: flex;
  padding: 5px 0;
  gap: 20px;
}

.files-body .file .name {
  width: 500px;
}

#btnUploadFile {
  opacity: 0;
}

.selected-file {
  background-color: royalblue;
}

.modal-confirm-delete {
  width: 26vw;
  height: 30vh;
  padding: 1em;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 1px 1px 2px black;
  background-color: white;
  position: absolute;
  top: 15vh;
  left: 37vw;
  z-index: 2px;
}

.modal-confirm-delete button {
  font-size: 1em;
  width: 3em;
  padding: 0.2em;
  cursor: pointer;
}

.modal-confirm-detele-active {
  display: flex;
}
