@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --bg-color: #f4f6ff;
  --text-color: #10375c;
  --text-color-light: #10375cdf;
  --icons-color: #127681;
  --light-color: #f3c62325;
  --lines-color: #393e4617;
  --move-file: #f3c623e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header input {
  height: 5vh;
  width: 40vw;
  border: 1px solid var(--icons-color);
  border-left: none;
}

.header input::placeholder {
  color: var(--text-color-light);
}

.header i {
  padding: 1vh;
  height: 5vh;
  border: 1px solid var(--icons-color);
  border-right: none;
  color: var(--icons-color);
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-search i {
  cursor: pointer;
}

.main {
  width: 100%;
  height: 92vh;
  display: flex;
}

.aside-menu {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 8px 10px 2px;
}

.aside-menu i {
  color: var(--icons-color);
  background-color: transparent;
}

.aside-menu button,
label {
  border: none;
  border-radius: 40px;
  border: 1px solid var(--icons-color);
  font-size: 1.3em;
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0em 0.4em;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px;
}

#btnRecycleBin {
  margin-top: 45vh;
}

.aside-menu button:hover,
label:hover {
  background-color: var(--text-color);
  color: var(--icons-color);
  border: 2px solid var(--icons-color);
}

.files-display {
  width: 82%;
  height: 100%;
  padding: 2px 20px;
}

.menu-section {
  display: flex;
  height: 8%;
  justify-content: space-between;
  border-bottom: 1px solid var(--lines-color);
  padding-left: 8px;
}

.menu-section i {
  font-size: 1.5em;
  padding: 0.1em 0.1em 0.3em 0.1em;
  cursor: pointer;
}

.homeBack i {
  color: var(--icons-color);
}

.container-features {
  display: flex;
  justify-content: space-between;
}

.nothing-selected i {
  color: var(--light-color);
  cursor: not-allowed;
}

.nothing-selected-active i {
  color: var(--icons-color);
  cursor: pointer;
}

.fa-paste {
  color: var(--light-color);
  cursor: not-allowed;
  margin-right: 3px;
}

.fa-paste-active {
  color: var(--icons-color);
  cursor: pointer;
}

.route-section {
  padding-top: 5px;
  height: 6%;
  border-bottom: 1px solid var(--lines-color);
  font-size: 22px;
  padding-left: 8px;
}

.files-header {
  display: flex;
  height: 5%;
  padding-top: 5px;
  margin-bottom: 20px;
}

.files-header p,
.file p {
  width: 17%;
  padding-left: 8px;
}

.files-header .name {
  width: 49%;
}

.files-header p {
  font-size: 20px;
}

.file p {
  font-size: 13px;
  color: var(--text-color-light);
  background-color: transparent;
}

.file .name {
  font-size: 16px;
  width: 46%;
  padding-left: 8px;
  cursor: pointer;
}

.file i {
  width: 3%;
  padding-left: 8px;
  background-color: transparent;
}

.file:nth-of-type(odd) {
  background-color: var(--light-color);
}

.files-body {
  width: 100%;
  height: 75%;
  overflow-y: auto;
}

.files-body::-webkit-scrollbar {
  width: 4px;
  background-color: var(--bg-color);
}

.files-body::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: var(--icons-color);
  border-radius: 5px;
}

.files-body .file {
  display: flex;
  padding: 5px 0;
}

#btnUploadFile {
  opacity: 0;
}

.selected-file {
  border: 1px solid var(--icons-color);
  font-size: larger;
  padding-left: 2px;
}

#newName {
  border: 1px solid var(--text-color);
  font-size: 1em;
}

#newName:focus {
  outline: none;
}

p {
  user-select: none;
}

#folderEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MODALS */

.modal-confirm-delete,
.modal-delete-done {
  width: 26vw;
  height: 30vh;
  padding: 1em;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 2px 2px 5px var(--icons-color);
  background-color: var(--bg-color);
  position: absolute;
  top: 15vh;
  left: 37vw;
  z-index: 5px;
}

.modal-confirm-delete span {
  font-size: 1.1em;
  font-weight: bold;
}

.modal-confirm-delete div {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.modal-confirm-delete button {
  font-size: 1em;
  width: 3em;
  padding: 0.2em;
  cursor: pointer;
  border: 2px solid var(--icons-color);
  background-color: var(--icons-color);
  border-radius: 15px;
}

.modal-confirm-delete button:hover {
  background-color: var(--text-color);
  color: var(--icons-color);
}
.modal-delete-done {
  background-color: var(--icons-color);
}

.modal-delete-done i {
  background-color: transparent;
  font-size: 2.5em;
}

.modal-confirm-detele-active,
.modal-delete-done-active {
  display: flex;
}

video {
  height: 400px;
}

audio::-webkit-media-controls-panel {
  background-color: var(--icons-color);
}

.modal-display-file {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.7em 1em 1em 1em;
  border: 1px solid var(--icons-color);
}

.modal-display-file-active {
  display: flex;
}

#containerDisplayFileOpened {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containerDisplayFileOpened img {
  height: 430px;
}

#closeModalDisplayFile {
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--icons-color);
}

.background-modal-active {
  filter: blur(5px);
}

.moveFile {
  background-color: var(--move-file) !important;
}

table {
  width: 70vw;
}
